.collection{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 420px 420px ;
    margin: 20px;
    gap: 20px;

}
.newcollection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    flex-direction: column;
}
.collection .item {
    margin-top: 30px;
}
@media screen and (max-width:1000px){
    .newcollection{
   margin: 0 auto;
        max-height: 400vh;
    }
    .collection{
      

        grid-template-columns: 1fr 1fr 1fr  ;
        grid-template-rows:1fr 1fr 1fr;
        margin: 5px auto;
        row-gap: 0px;
        height: 100%;
        flex-wrap: wrap;
       margin-left: 70px;
       justify-content: center;
       align-items: center;
    }
    

}
@media screen and (max-width:740px){
    .newcollection{
        margin: 0 auto;

        max-height: 400vh;
    }
    .collection{
      

        grid-template-columns: 1fr 1fr   ;
        grid-template-rows:1fr 1fr 1fr 1fr 1fr ;
        margin: 5px auto;
        row-gap: 0px;
        height: 100%;
        flex-wrap: wrap;
       margin-left: 70px;
       justify-content: center;
       align-items: center;
    }
    

}