

.checkout{
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 90px;

}
.checkout p{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;



}
.checkout .buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;


}
.checkout .buttons button{
    padding: 7px 14px;
    border-radius: 9px;
    background: #000;
    color: aliceblue;
    border: none;
    font-weight: 500;
    letter-spacing: 1px;
}
.checkout .buttons button:hover{
    background: #464646c1;
}
h1{
    justify-self: center;
    align-self: center;
   
}